@font-face {
  font-family: "Helvetica";
  src: url(../fonts/Helvetica.ttf);
}

@font-face {
  font-family: "Maven Pro";
  src: url(../fonts/MavenPro-Regular.ttf);
}

.en {
  z-index: 3;
  position: fixed;
  bottom: 0;
  background-color: #ee4124;
  border-top-left-radius: 20px;
  margin-left: 10px;
  button {
    background-color: transparent;
    border-width: 0px;
    font-size: 18px;
    font-family: "Helvetica";
    color: white;
    margin-right: 20px;
    margin-left: 20px;
  }
}

.id {
  z-index: 3;
  position: fixed;
  bottom: 0;
  background-color: #ee4124;
  border-top-right-radius: 20px;
  margin-left: 90px;
  button {
    background-color: transparent;
    border-width: 0px;
    font-size: 18px;
    font-family: "Helvetica";
    color: white;
    margin-right: 20px;
    margin-left: 20px;
  }
}

.message {
  float: left;
  z-index: 1;
  overflow: hidden;
  position: fixed;
  right: 0;
  bottom: 0;

  img {
    width: 80px;
    height: 80px;
  }
}

.header-info {
  background-color: #f5f5f5;
  font-size: 100%;
  margin-top: 100px;
  color: black;
  .left-text {
    float: left;
    margin-left: 20px;
    display: inline-block;
    margin-top: 10px;

    p {
      font-family: "Maven Pro";
    }

    ul {
      margin: -40px 0 0 40px;

      li {
        display: inline-block;
        margin-left: 3px;

        i {
          color: black;
        }
      }
    }
  }

  .right-text {
    float: right;
    margin-right: 20px;
    display: inline-block;
    font-family: "Maven Pro";
    ul {
      display: inline-block;
      margin-top: 10px;

      li {
        display: inline-block;
        margin-left: 30px;

        span {
          font-family: "Maven Pro";
        }
      }
    }
  }
}

.navbar-light {
  width: 100%;
  height: auto;
  background-color: white;
  box-shadow: 0px 7px 6px 0px rgba(0, 0, 0, 0.44);
  -webkit-box-shadow: 0px 7px 6px 0px rgba(0, 0, 0, 0.44);
  -moz-box-shadow: 0px 7px 6px 0px rgba(0, 0, 0, 0.44);
  font-family: "Maven Pro";
  position: fixed;
  z-index: 2;
  top: 0;

  .navbar-brand {
    margin-left: 48px;
    background-color: white;
    border-width: 0px;

    .logo-resep {
      margin-top: 10px;
      margin-left: 20px;
    }

    .cart {
      margin-top: -45px;
      display: flex;
    }

    .badge {
      background-color: red;
      display: flex;
      border-radius: 50px;
      margin-left: 20px;
      margin-top: -55px;
    }
  }

  .nav-item {
    margin-left: 70%;
    margin-top: 15px;

    a:hover {
      color: #ee4124;
    }

    a {
      text-decoration: none;
      color: #2d2d2d;
      font-weight: bold;
    }
    .dropdown {
      button {
        font-family: "Maven Pro";
        margin-left: -50px;
        background-color: white;
        color: #2d2d2d;
        margin-top: -10px;
      }
    }
  }

  li {
    img {
      position: absolute;
    }
  }

  .form-inline {
    font-family: "Maven Pro";
    input {
      width: 500px;
      border-radius: 8px;
      border-color: #ee4124;
      margin-left: 100px;
      margin-top: 10px;
    }

    .btn {
      margin-left: 530px;
      height: 20px;
      margin-top: -80px;
      border-width: 0px;
      box-shadow: none;
    }
  }
}

.carousel-inner {
  background-color: white;
  z-index: 0;
  .d-block {
    width: 80%;
    margin-bottom: 20px;
  }

  img {
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    width: 200px;
    height: 400px;
  }
}

.divider {
  width: 100%;
  background-color: #f5f5f5;
  margin-top: 30px;
  border-width: 1px;
  border-style: solid;
  border-color: #e1e7ec;
}

#nama-obat {
  width: 20%;
}

.main-content {
  margin-top: -10px;
  background-color: white;
  padding-left: 50px;
  font-family: "Maven Pro";
  margin-bottom: 70px;
  height: auto;

  .side-content {
    display: inline-block;
    margin: 40px 0 0 -60px;

    .profile,
    .change-password,
    .history {
      margin-bottom: 20px;

      a {
        text-decoration: none;
        color: #2d2d2d;
        font-family: "Maven Pro";
        font-size: 18px;
        padding-left: 20px;
        font-weight: bold;
      }

      a:hover {
        color: #acacac;
      }
    }

    .row {
      margin-bottom: 20px;
      a {
        text-decoration: none;
        color: #2d2d2d;
        font-family: "Maven Pro";
        font-size: 18px;
        padding-left: 20px;
      }

      a:hover {
        color: #acacac;
      }
    }
  }

  .dividers-vertical {
    background-color: #2d2d2d;
    border-width: 6px;
    height: 230px;
    width: 2px;
    position: absolute;
    margin-left: 20%;
    margin-top: -11%;
  }

  .divider-vertical {
    background-color: #2d2d2d;
    border-width: 6px;
    height: 400px;
    width: 2px;
    position: absolute;
    margin-left: 20%;
    margin-top: -11%;
  }

  .form-content {
    display: block;
    position: inherit;
    margin-left: 400px;
    margin-top: -140px;
    font-family: "Maven Pro";

    h4 {
      font-family: "Maven Pro";
      color: #2d2d2d;
      font-weight: bold;
      font-size: 21px;
      margin-bottom: 10px;
    }

    .row {
      margin-bottom: 30px;

      span {
        color: red;
      }
      h5 {
        font-family: "Helvetica";
        font-size: 18px;
        color: #2d2d2d;
      }
      input {
        width: 100%;
        border-radius: 4px;
        border-width: 1px;
        height: 30px;
      }
      textarea {
        resize: none;
        border-radius: 4px;
        border-width: 1px;
        width: 100%;
        height: 70px;
      }

      .col-12 {
        margin-top: 30px;
        margin-left: 10px;
        .btn {
          float: right;
          margin-right: 10%;
          border-radius: 5px;
          width: 10%;
          margin-bottom: 30px;
        }
      }
    }
  }

  .list-product {
    font-family: "Helvetica";
    margin-top: 30px;
    margin-bottom: 20px;

    h5 {
      color: #ee4124;
      font-weight: bolder;
      margin-bottom: 15px;
    }
  }

  .cart-content {
    margin-top: 40px;

    .btn {
      width: 100%;
      margin-top: 30px;
      border-radius: 10px;
      background-color: #1b7dbd;
    }

    hr {
      margin-bottom: -20px;
    }

    .resep {
      margin-top: 70px;
    }

    .invoice {
      .card {
        box-shadow: 2px 0px 27px -9px rgba(11, 11, 11, 0.35);
        -webkit-box-shadow: 2px 0px 27px -9px rgba(11, 11, 11, 0.35);
        -moz-box-shadow: 2px 0px 27px -9px rgba(11, 11, 11, 0.35);
        width: 400px;
        margin: 30px 0 0 100px;
        border-color: #dddddd;
        border-radius: 10px;
        font-family: "Helvetica";

        .card-body {
          h5 {
            font-size: 18px;
            color: #2d2d2d;
            font-weight: bold;
            margin-top: 10px;
          }

          .row {
            margin-top: 30px;
            margin-bottom: -15px;

            .judul {
              text-align: left;
              font-weight: bold;
            }

            .total-harga {
              color: #2d2d2d;
              font-weight: bold;
              margin-bottom: 10px;
            }

            .value {
              text-align: right;
            }
          }
        }
      }
    }

    .select-all {
      font-family: "Helvetica";
      input[type="checkbox"] {
        display: inline-block;
        transform: scale(1.5);
        margin-right: 20px;
      }

      .jumlah {
        .add-minus {
          background-color: white;
          width: 30px;
          height: 30px;
          border-radius: 7px;
          border-color: #707070;
          margin-left: 7px;
          margin-right: 7px;
          text-align: center;
          font-weight: bold;
          border-width: 1px;
        }

        .delete {
          background-color: white;
          border-width: 0px;
          justify-content: center;
          float: right;
          i {
            font-size: 25px;
            padding-top: 20px;
            text-align: center;
          }
        }

        .quantity {
          width: 100px;
          height: 32px;
          border-radius: 7px;
          text-align: center;
          font-weight: bold;
          border-width: 1px;
        }
      }

      .produk {
        margin-left: 160px;
        position: relative;
        margin-top: -80px;
        h5 {
          display: inline-block;
          color: #2d2d2d;
          font-size: 18px;
        }
        .price {
          display: flex;
          color: #ee4124;
          margin-top: -2px;
        }

        p {
          font-size: 15px;
        }
      }

      img {
        width: 90px;
        display: inline-block;
        padding-top: 35px;
        margin-right: 20px;
      }

      p {
        display: inline-block;
        font-size: 17px;
        color: #2d2d2d;
      }
    }

    .promo {
      color: #1b7dbd;
      margin-left: 37px;
      font-weight: bold;
      p {
        margin-bottom: -2px;
      }
    }
  }

  .row {
    .pagination {
      margin: 15px auto;
      display: flex;
      list-style: none;
      outline: none;
      margin-left: 45%;

      .active {
        a {
          background-color: #1b7dbd;
          border-color: #1b7dbd;
          color: #fff;
        }
      }
    }

    li {
      a {
        border: 1px solid #47ccde;
        padding: 5px 10px;
        outline: none;
        cursor: pointer;
      }
    }
  }
  .breadcrumb {
    background-color: white;
    margin-left: 30px;
  }

  .react-multi-carousel-list {
    z-index: 0;
  }

  .react-multi-carousel-item {
    .card {
      font-family: "Maven Pro";
      border-radius: 8px;
      -webkit-box-shadow: 0px 3px 12px -5px rgba(0, 0, 0, 0.31);
      -moz-box-shadow: 0px 3px 12px -5px rgba(0, 0, 0, 0.31);
      box-shadow: 0px 3px 12px -5px rgba(0, 0, 0, 0.31);
      width: 206px !important;
      height: auto;

      a {
        text-decoration: none;

        .card-img {
          margin-top: 15px;
          margin-left: auto;
          margin-right: auto;
          border-radius: 10px;
          width: 120px;
          height: 120px;
        }
      }

      .card-title {
        height: 100px;
        display: flex;
        align-items: center;
        font-weight: bold;
        color: #2d2d2d;
        font-size: 19px;
      }

      h3 {
        color: #ee4124;
        font-weight: bold;
        font-size: 19px;
        float: left;
      }
    }
  }

  .title {
    h4 {
      display: inline-block;
      color: #ee4124;
      font-family: "Maven Pro";
      font-weight: bold;
      padding-left: 5px;
    }

    .btn {
      display: inline-block;
      font-family: "Maven Pro";
      font-size: small;
      float: right;
      color: white;
    }

    .btn:hover {
      color: white;
    }
  }

  .row {
    .kuantitas {
      margin-top: 51px;
      font-family: "Maven Pro";

      h5 {
        font-size: 16px;
        font-weight: bold;
      }

      .add-minus {
        background-color: white;
        width: 30px;
        height: 30px;
        border-radius: 7px;
        border-color: #707070;
        margin-left: 7px;
        margin-right: 7px;
        text-align: center;
        font-weight: bold;
      }

      input {
        width: 109px;
        height: 34px;
        border-radius: 7px;
        text-align: center;
        font-weight: bold;
      }
    }

    .stok {
      margin-top: 19px;
      font-size: 16px;
    }

    .buy {
      width: 280px;
      height: 46px;
    }

    .see-other-product {
      width: 140px;
      height: 46px;
      margin-top: 20px;
      background-color: #1b7dbd;
      border-radius: 20px;
      border-width: 1px;
      font-family: "Maven Pro";
      font-weight: bold;
      color: white;
      margin-right: 20px;
    }

    .see-cart {
      width: 140px;
      height: 46px;
      margin-top: 20px;
      background-color: #1b7dbd;
      border-radius: 20px;
      border-width: 1px;
      font-family: "Maven Pro";
      font-weight: bold;
      color: white;
    }

    .details {
      margin-bottom: 80px;
      .card-header {
        background-color: white;
      }

      .card-title {
        text-align: left;
        font-size: 18px;
      }

      .card-text {
        text-align: left;
        font-size: 15px;
      }

      .nav-link {
        font-family: "Maven Pro";
        font-size: 18px;
        font-weight: bold;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        width: 200px;
      }

      p {
        font-size: 18px;
      }
    }

    .col-sm-3 {
      margin-left: -80px;
      color: #2d2d2d;

      .quantity {
        width: 100px;
        height: 32px;
        border-radius: 7px;
        text-align: center;
        font-weight: bold;
        border-width: 1px;
      }

      .add-minus {
        background-color: white;
        width: 30px;
        height: 30px;
        border-radius: 7px;
        border-color: #707070;
        margin-left: 7px;
        margin-right: 7px;
        text-align: center;
        font-weight: bold;
        border-width: 1px;
      }
    }

    .col-sm-4 {
      margin-left: 40px;
    }

    .cart {
      margin-bottom: 160px;
      width: 200px;
      height: 300px;
      .card {
        width: 400px;
        height: 450px;
        border-color: #c7c7c7;
        display: inline-block;

        img {
          width: 380px;
          height: 400px;
        }

        .card-body {
          background-color: #ee4124;
          border-top-left-radius: 50px;
          border-style: solid;
          border-color: #ee4124;
          border-width: 1px;
          height: 150px;
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-top: -80px;

          h5 {
            font-size: 25px;
            font-weight: bold;
            margin-top: -20px;
          }

          .card-text {
            color: white;
            font-family: "Maven Pro";
            font-size: 25px;
            padding-top: 36px;
          }
        }
      }
    }

    .prices {
      color: #ee4124;
      font-weight: bolder;
      margin-top: 16px;
      font-size: 30px;
    }

    .buy {
      background-color: #ee4124;
      width: 300px;
      height: 46px;
      border-radius: 100px;
      border-color: #ee4124;
      margin-top: 20px;
      span {
        font-size: 19px;
        font-weight: bold;
        font-family: "Maven Pro";
        color: white;
        text-align: center;
        margin-left: 20px;
      }

      i {
        color: white;
      }
    }

    h3 {
      font-family: "Maven Pro";
      font-size: 24px;
      font-weight: bold;
      margin-top: 10px;
    }

    .price {
      color: #ee4124;
      font-weight: bolder;
      margin-top: 16px;
      font-size: 20px;
    }
  }

  .thumb {
    width: 200px;
    margin-left: 40px;
    text-decoration: none;

    .card {
      width: 220px;
      height: 350px;
      border-color: #c7c7c7;
      border-width: 0.1px;
      margin-bottom: 40px;
      margin-right: 30px;
      position: relative;
      border-radius: 6px;

      img {
        width: 180px;
        height: 200px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
      }

      .card-text {
        font-family: "Maven Pro";
        font-weight: bold;
        color: #2d2d2d;
        margin-top: -30px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 95px;
      }

      .price {
        margin-top: -30px;
        color: #ee4124;
        margin-top: 20px;
        span {
          color: #2d2d2d;
        }
      }
    }
  }
}

.tab-content{
  .card-body {
      background-color: white;
      border-width: 4px;
      border-style: groove;
      margin-bottom: 20px;
      width: 230px;
      float: right;
      border-radius: 20px;
      font-family: "Helvetica";
  }
}

.modal-open {
  .show,
  .fade {
    background-color: transparent !important;
  }

}

.buble-left{
  background-color: white;
  border-width: 4px;
  border-style: groove;
  margin-bottom: 20px;
  width: 170px;
  float: left;
  border-radius: 20px;
  font-family: "Helvetica";

  p,
  h5 {
    text-align: left;
    padding-left: 10px;
    color: #2d2d2d;
    height: auto;
    padding-top: 13px;
  }

  p {
    margin-bottom: -10px;
    font-size: 14px;
    font-weight: bold;
    color: #2d2d2d;
  }

  h5 {
    font-size: 16px;
    color: #2d2d2d;
  }
}

.buble {
  background-color: white;
  border-width: 4px;
  border-style: groove;
  margin-bottom: 20px;
  width: 230px;
  float: right;
  border-radius: 20px;
  font-family: "Helvetica";
  p,
  h5 {
    text-align: right;
    padding-right: 10px;
    padding-top: 18px;
    color: #2d2d2d;
  }

  p {
    margin-bottom: -10px;
    font-size: 14px;
    font-weight: bold;
    color: #2d2d2d;
  }

  h5 {
    font-size: 16px;
    color: #2d2d2d;
  }
}

.chat-pop {
  margin-left: 75%;
  margin-top: 17%;
  width: 300px;
  height: 300px;
  border-radius: 20px;
  border-width: 4px;

  .buble {
    background-color: white;
    border-width: 2px;
    border-style: groove;
    margin-bottom: 20px;
    width: 170px;
    float: right;
    border-radius: 20px;
    font-family: "Helvetica";
    p,
    h5 {
      text-align: right;
      padding-right: 10px;
      padding-top: 10px;
    }

    p {
      margin-bottom: -10px;
      font-size: 14px;
      font-weight: bold;
    }

    h5 {
      font-size: 16px;
    }
  }

  .type-chat {
    margin-top: -20px;
    margin-bottom: -40px;
    border-width: 2px;

    textarea {
      resize: none;
      margin-top: 50px;
      width: 160px;
      height: 50px;
      border-radius: 4px;
    }

    .chat-btn {
      font-family: "Maven Pro";
      background-color: #1b7dbd;
      color: white;
      border-width: 0px;
      width: 70px;
      border-radius: 4px;
      display: block;
    }
  }

  .modal-dialog {
    margin-top: -80px;
    border-radius: 20px;
    border-width: 0px;
    width: auto;

    .modal-header {
      position: fixed;
      margin-top: -8px;
      z-index: 1;
      background-color: #1b7dbd;
      color: white;
      width: 279px;
      border-radius: 5px;
    }
  }
}

.for-chat {
  .chat {
    float: left;
    z-index: 1;
    overflow: hidden;
    position: fixed;
    right: 0;
    margin: 40px 40px;
    bottom: 0;

    img {
      width: 90px;
      cursor: pointer;
    }
  }
}

footer {
  font-family: "Maven Pro";
  height: 300px;
  background-color: #1b7dbd;
  font-family: "Maven Pro";
  margin-top: 20px;

  .col-sm-3 {
    color: white;
    margin-left: 30px;

    .dropdown-divider {
      width: 180px;
    }
    a {
      color: inherit;
      text-decoration: none;
    }

    a:hover {
      color: inherit;
    }
  }
}
