@font-face {
  font-family: "Helvetica";
  src: url("../fonts/Helvetica.ttf");
}



#login {
  background-image: url(../img/bg-login2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 47vw;

  .justify-content-md-center {
    padding-top: 10%;
    font-family: "Helvetica";
    background: rgba(black, 0.5);
    height: 47vw;

    .card {
      background: rgba(black, 0.5);

      .card-header {
        color: white;
        font-family: "Helvetica";
        font-weight: bold;
        font-size: 20px;
        text-align: center;
      }
      .btn-primary {
        float: right;
        border-width: 0px;
        border-radius: 5px;
        width: 120px;
        height: 40px;
        font-size: 17px;
      }

      .btn-primary:hover {
        background-color: rgb(0, 140, 158);
      }
      p {
        color: red;
      }

      .form-group {
        margin-bottom: 20px;
        background: rgba(0, 0, 0, 0.5);

        input {
          background: rgba(black, 0.5);
          color: white;
        }
        .input-group-prepend {
          .input-group-text {
            font-size: 20px;
            background: rgba(black, 0.5);
            color: white;
            height: 40px;
            width: 40px;
            text-align: center;
            margin-left: 2px;
            padding-left: 9px;
          }
        }
      }

      .card-footer {
        background: rgba(black, 0.9);
        a {
          float: right;
          text-decoration: none;
          color: white;
          padding-top: 3px;
          font-size: 12px;
        }

        a:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

#register {
  background-image: url(../img/bg-login2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 60vw;

  .justify-content-md-center {
    padding-top: 4%;
    font-family: "Helvetica";
    background: rgba(black, 0.5);
    height: 60vw;

    p {
      display: block;
      color: red;
      margin: 2px 0 -12px 0;
      // margin-top: 2px;
      // margin-bottom: -12px;
    }

    .card {
      background: rgba(black, 0.5);

      .card-header {
        color: white;
        font-family: "Helvetica";
        font-weight: bold;
        font-size: 20px;
        text-align: center;
      }
      .btn-primary {
        float: right;
        border-width: 0px;
        border-radius: 5px;
        width: 120px;
        height: 40px;
        font-size: 17px;
      }

      a {
        text-decoration: none;
        color: white;
        margin-right: auto;
        margin-left: 50%;
        display: inline-block;
        margin-top: 10px;
      }

      a:hover {
        color: darkcyan;
      }

      .btn-primary:hover {
        background-color: rgb(0, 140, 158);
      }
      .form-group {
        margin-bottom: 40px;
        background: rgba(0, 0, 0, 0.5);

        input {
          background: rgba(black, 0.5);
          color: white;
        }
        .input-group-prepend {
          .input-group-text {
            font-size: 20px;
            background: rgba(black, 0.5);
            color: white;
            height: 40px;
            width: 40px;
            text-align: center;
            margin-left: 2px;
            padding-left: 9px;
          }
        }
      }

      .card-footer {
        background: rgba(black, 0.9);
        a {
          float: right;
          text-decoration: none;
          color: white;
          padding-top: 3px;
          font-size: 12px;
        }

        a:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
