@font-face {
  font-family: "Source Sans Pro";
  src: url(../fonts/SourceSansPro-Regular.ttf);
}

body {
  background-color: #f3f5f8;
  font-family: "Source Sans Pro";
  font-size: 15px;
  color: #676a6d;
}

th {
  font-weight: 600;
}


.sidebar-menu {
  a {
    color: #e7e7e7;
    margin-left: 39px;
    text-decoration: none;
    margin-bottom: 100px;

    i {
      margin-right: 10px;
    }

    span {
      font-size: 15px;
    }
  }

  a:hover {
    color: white;
  }

  .accordion {
    .card-single {
      margin-left: -38px;
    }
    .card {
      background-color: #2b333e;
      color: white;
      border-width: 0px;

      .card-header {
        margin-bottom: 10px;
        margin-top: 10px;
      }

      li {
        margin-bottom: 15px;
        a {
          margin-left: -2px;
          height: 200px;
        }
      }

      i {
        margin-right: 10px;
        margin-left: 21px;
      }

      span {
        font-size: 15px;
        cursor: pointer;
      }
    }
  }
}

.dropdown {
  background-color: white;

  .btn {
    border-width: 0px;
    box-shadow: none;
  }

  img {
    margin-right: 10px;
    border-radius: 20px;
  }
}



#wrapper {
  .sidebar {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    width: 260px;
    height: 100%;
    float: left;
    background-color: #2b333e;
    position: fixed;
    left: 0;
  }

  .main {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    width: calc(100% - 260px);
    left: 0;
    position: relative;
    float: right;
    background-color: #f5f5fa;
  }

  #sidebar-nav,
  .main {
    padding-top: 80px;
  }
}


.offcanvas-active #wrapper {
  .sidebar {
    left: 0;
  }

  .main {
    width: 100%;
    position: relative;
    left: 260px;
  }
}

.main-content {
  padding: 28px 10px;
}

.navbar + .main-content {
  padding: 105px 0 28px 5px;
}




.navbar-default {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -moz-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  padding: 0;
  margin: 0;
  border: none;
  background-color: #fff;
  position: fixed;
  z-index: 10;
  width: 100%;

  .navbar-nav > .open > a {
    background-color: #fafafa;

    &:hover,
    &:focus {
      background-color: #fafafa;
    }
  }

  .navbar-toggle {
    background-color: #f8f8f8;

    &:hover,
    &:focus {
      background-color: #f8f8f8;
    }
  }

  .brand-admin {
    float: left;
    padding: 10px 10px;
    background-color: #fff;
    margin-left: 20px;
    img {
      width: 160px;
    }
  }
}


.sidebar {
  z-index: 9;

  .nav {
    > li > a {
      padding: 4px 38px;
      color: #aeb7c2;
      border-left: 5px solid transparent;
    }

    i {
      margin-right: 10px;
      font-size: 18px;
    }
  }
}


.form-control {
  -moz-box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border-color: #eaeaea;
  background-color: #fcfcfc;
  margin-left: -300px;

  &:focus {
    -moz-box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.1);
    border-color: #00aaff;
    background-color: #fff;
  }
}

.input-group {
  -moz-box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.1);

  .form-control {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}

.input-group-addon,
.input-group-btn {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.input-group-addon {
  border: 1px solid #eaeaea;
  text-align: center;
  padding-top: 6px;
  width: 40px;
  font-weight: bold;
}


.btn {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.2);
  padding: 6px 22px;
}

.btn-group-lg > .btn,
.btn-lg {
  padding: 10px 28px;
}

.btn-group-sm > .btn,
.btn-sm {
  padding: 5px 18px;
}

.btn-group-xs > .btn,
.btn-xs {
  padding: 5px 14px;
}

.btn-primary {
  background-color: #00aaff;
  border-color: #00a0f0;

  &:hover,
  &:focus {
    background-color: #00a0f0;
    border-color: #00a0f0;
  }
}

.btn-warning {
  background-color: #e4cb10;
  border-color: #d6be0f;

  &:hover,
  &:focus {
    background-color: #d6be0f;
    border-color: #d6be0f;
  }
}

.btn-default {
  &:hover,
  &:focus {
    background-color: #f7f7f7;
  }
}

.btn-success {
  background-color: #41b314;
  border-color: #3ca512;

  &:hover,
  &:focus {
    background-color: #3ca512;
    border-color: #3ca512;
  }
}

.modal-content-laporan {
  .modal-content {
    width: 800px;
    margin-left: -100px;

    .modal-laporan {
      h5 {
        font-size: 20px;
      }

      input {
        width: 300px;
        height: 46px;
        margin-bottom: 40px;
        display: block;
      }

      .list-obat {
        margin-bottom: 10px;
      }

      button {
        width: 100px;
        margin-right: 60px;
        margin-bottom: 40px;
        border-radius: 5px;
      }
    }
  }
}

.modal-resep {
  margin-top: -40%;
  min-width: 120%;
  margin-left: -10%;
  height: 300px;

  button {
    margin-left: -400px;
  }

  .panel-body {
    height: 460px;
  }

  h4 {
    padding-top: 40px;
    font-family: "Source Sans Pro";
    font-weight: bold;
  }

  .col-sm-6 {
    margin-top: 30px;
  }
}

.modal-edit {
  min-width: 220%;
  margin-left: -50%;
  margin-top: -30%;
  height: 10px;

  h4 {
    padding-top: 40px;
    font-family: "Source Sans Pro";
    font-weight: bold;
  }

  .col-sm-6 {
    margin-top: 30px;
  }

  .modal-content {
    background-color: #000000;
  }
}

.modal {
  background-color: none;

  .modal-content {
    margin-top: 30%;
    color: #000000;

    button {
      float: right;
      margin-top: 40px;
      margin-left: 10px;
      height: 40px;
    }
  }
}

.btn {
  &.disabled,
  &[disabled] {
    opacity: 0.4;
    filter: alpha(opacity = 40);
  }
}

fieldset[disabled] .btn {
  opacity: 0.4;
  filter: alpha(opacity = 40);
}

.panel {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  background-color: #fff;
  margin-bottom: 30px;

  .panel-heading,
  .panel-footer {
    padding-left: 25px;
    padding-right: 25px;
  }

  .panel-body {
    padding-left: 25px;
    padding-right: 25px;
    .panel-title {
      font-size: 18px;
    }

    .transaction {
      font-family: "Maven Pro";
      width: 200px;
      border-width: 2px;
      border-style: ridge;
      margin-left: 40px;
      margin-top: 20px;
      border-radius: 10px;
      margin-bottom: 250px;


      img {
        width: 120px;
        margin: 20px auto 30px auto;
      }

      h5 {
        font-size: 20px;
        color: #000000;
        font-weight: bold;
        text-align: center;
      }

      h4 {
        font-size: 28px;
        color: #000000;
        font-weight: bold;
        text-align: center;
        margin-bottom: 20px;
      }
    }

    .room {
      display: block;
      margin-left: -40px;

      .tab-content {
        margin-left: 50px;
      }
    }
    .chat-message {
      display: block;
      margin-left: 200px;
      margin-top: -76px;
      height: 480px;

      .chat-title {
        background-color: #2b333e;
        color: white;
        height: 70px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
      

        h4 {
          text-align: left;
          font-size: 18px;
          padding-top: 10px;
          padding-left: 10px;
        }

        h5 {
          text-align: left;
          font-size: 14px;
          padding-top: 1px;
          padding-left: 10px;
        }
      }

      .card {
        .card-title {
          position: absolute;
        }
        overflow: scroll;
        overflow-x: hidden;
        height: 300px;
      }

      .reply-chat {
        overflow: unset;
        z-index: 1;
        position: absolute;
        height: 60px;
        width: 61%;
        background-color: #2b333e;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;

        input {
          height: 50px;
          width: 80%;
          margin-top: 5px;
          margin-left: 2px;
          border-radius: 5px;
          border-width: 0px;
        }

        button {
          display: inline-block;
          background-color: #00a0f0;
          border-width: 0px;
          color: white;
          width: 18%;
          height: 49px;
          margin-left: 5px;
          border-radius: 9px;
        }
      }
    }
    .nav-pills {
      font-family: "Source Sans Pro";

      margin-left: 80px;
      width: 40%;

      .nav-link {
        color: #2b333e;
      }

      .active {
        background-color: #2b333e;
        color: white;
      }
    }

    #header-search {
      float: right;
      margin-bottom: 30px;
      height: 35px;
      width: 300px;
      border-radius: 10px;

      &:focus {
        border-radius: 10px;
      }
    }

    #search-btn {
      display: inline-block;
      float: right;
      margin-top: 7px;
      margin-right: -280px;
      color: #000000;
      font-weight: bold;
      font-size: 23px;
    }
    tr {
      text-align: left;
      td {
        padding-top: 20px;
        text-align: center;
        .dropdown {
          margin-top: -30px;
          display: block;
          margin-left: auto;
          margin-right: auto;
          width: 20px;
          background-color: none;
        }

        .dropdown:hover {
          background-color: #ececec;
        }

        img {
          width: 60px;
          height: 60px;
        }

        .btn-warning {
          width: 80px;
          margin-right: auto;
          margin-left: auto;
          margin-top: -2px;
          font-size: 12px;
        }
      }
    }

    th {
      font-weight: bold;
      font-size: 18px;
      text-align: center;
    }

    .td-jenis {
      width: 10%;
    }

    .td-name,
    .td-harga {
      width: 15%;
    }

    .td-stok {
      width: 8%;
    }

    .td-dosis {
      width: 20%;
      text-align: left;
    }

    .td-desc {
      width: 20%;
      text-align: left;
    }

    .dropdown {
      position: relative;
      .dropdown-toggle:empty::after {
        margin-left: -5px;
      }
      .dropdown-menu {
        border-radius: 20px;

        a {
          margin-left: 20px;
        }
      }
    }

    .btn {
      margin-top: 30px;
      margin-bottom: 30px;
      font-weight: bold;
      width: 200px;
      border-radius: 30px;
      margin-left: auto;
      margin-right: 40px;
    }
    .dropdown-item {
      width: 100px;
    }

    .dropdown-toggle {
      border-radius: 10px;
      width: 2px;
      text-align: center;
      display: block;
      background-color: #2b333e;
      border-width: 0;
      color: white;

      p {
        text-align: center;
      }
    }

    .dropdown-toggle:hover {
      background-color: #434952;
    }

    .td-picture {
      img {
        width: 60px;
        margin-right: 10px;
      }
    }

    p {
      color: red;
      margin-top: -20px;
      margin-bottom: -2px;
    }

    #btn-recipe {
      float: left;
    }

    #id {
      width: 60px;
      margin-bottom: 30px;
      margin-left: 0px;
    }

    #stok {
      width: 60px;
      margin-bottom: 30px;
      margin-left: 0px;
    }

    h3 {
      margin-bottom: 10px;
      font-size: 20px;
      margin-top: 30px;
    }

    #nama-obat {
      width: 100%;
      float: right;
    }

    #valuta {
      width: 0%;
    }

    #harga {
      width: 60%;
    }

    #jenis {
      width: 100%;
      float: right;
    }

    #dosis {
      width: 100%;
      float: right;
    }

    #picture {
      display: inline-block;
      margin-left: 0px;
    }

    #desc {
      resize: none;
      float: right;
      position: relative;
    }

    #userName,
    #fullName,
    #phoneNumber,
    #address,
    #email,
    #desc {
      margin-bottom: 30px;
      margin-left: 0px;
      resize: none;
    }

    #password-err {
      margin-top: -40px;
      margin-bottom: 18px;
    }

    #repassword-err {
      margin-top: 8px;
    }

    #password {
      margin-bottom: 50px;
      margin-left: 0px;
    }

    #repassword {
      margin-left: 0px;
      margin-top: 8px;
    }

    #dateRegist,
    #status {
      margin-left: 0px;
      margin-bottom: 100px;
      background-color: rgb(245, 245, 245);
    }

    #status-resep {
      margin-left: 0px;
    }
  }

  .panel-body-resep {
    padding-left: 25px;
    padding-right: 25px;
    height: 1090px;
    margin-bottom: 30px;

    #status-resep {
      width: 100%;
      height: 50px;
      text-align-last: center;
      font-family: "Source Sans Pro";
      font-size: 18px;
      margin-bottom: 20px;

      option {
        text-align: center;
        height: 80px;
      }
    }

    h3 {
      font-size: 20px;
    }

    img {
      margin-left: 20%;
      margin-top: 15px;
      margin-bottom: 20px;
      width: 400px;
      height: 500px;
    }

    #resep-info {
      margin-left: 0px;
      height: 100px;
      width: 450px;
    }
  }

  .panel-heading {
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;

    .panel-title {
      margin: 0;
      font-size: 26px !important;
      font-weight: 300;
    }

    button {
      padding: 0;
      margin-left: 5px;
      background-color: transparent;
      border: none;
      outline: none;
      i {
        font-size: 14px;
      }
    }
  }

  .panel-note {
    font-size: 13px;
    line-height: 2.6;
    color: #777777;

    i {
      font-size: 16px;
      margin-right: 3px;
    }
  }

  .right {
    position: absolute;
    right: 20px;
    top: 32%;
  }

  &.panel-headline .panel-heading {
    border-bottom: none;

    .panel-title {
      margin-bottom: 8px;
      font-size: 22px;
      font-weight: normal;
    }

    .panel-subtitle {
      margin-bottom: 0;
      font-size: 14px;
      color: #8d99a8;
    }
  }

  &.panel-scrolling .btn-bottom {
    margin-bottom: 30px;
  }

  .table > {
    thead > tr > {
      td:first-child,
      th:first-child {
        padding-left: 25px;
      }
    }

    tbody > tr > {
      td:first-child,
      th:first-child {
        padding-left: 25px;
      }
    }

    tfoot > tr > {
      td:first-child,
      th:first-child {
        padding-left: 25px;
      }
    }

    thead > tr > {
      td:last-child,
      th:last-child {
        padding-left: 25px;
      }
    }

    tbody > tr > {
      td:last-child,
      th:last-child {
        padding-left: 25px;
      }
    }

    tfoot > tr > {
      td:last-child,
      th:last-child {
        padding-left: 25px;
      }
    }
  }
}

.panel-footer {
  background-color: #fafafa;
}
